{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
   <div class="formulaireProfil">
    <h1>Votre profil</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if app.user.profilePictureFilename is same as(null) %}
        <div style="height: 350px; width: 350px">Vous n'avez pas encore de photo de profil.</div>
   {% else %}
        <img src="{{ asset('./uploads/profils/' ~ app.user.profilePictureFilename) }}" alt="photo de profil">
   {% endif %}
   {{ form_start(pictureForm) }}
       {{ form_row(pictureForm.picture) }}
       <button class="btn">Enregistrer</button>
   {{ form_end(pictureForm) }}

       <h2>Modifier mon profil</h2>
    {{ form_start(profileForm) }}
    {{ form_row(profileForm.name) }}
    {{ form_row(profileForm.firstname) }}
    {{ form_row(profileForm.email) }}
    {{ form_row(profileForm.phone) }}
    <button class="btn">Enregistrer</button>
       <div class="bandeBlanche"></div>
    {{ form_end(profileForm) }}
    <h2>Modifier mon mot de passe</h2>
    {{ form_start(newPasswordForm) }}
    {{ form_row(newPasswordForm.oldPassword) }}
    {{ form_row(newPasswordForm.newPassword) }}
    <button class="btn">Enregistrer</button>
    {{ form_end(newPasswordForm) }}
    </div>
{% endblock %}
