{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    Recherche
    <form name="formSearch" method="post" action="">
        <p>
            <input type="checkbox" name="" id="searchMyTrip"> Mes sorties
        </p>
    </form>
    <div class="row">
        {# boucle sur le tableau contenant les trips #}
        {% for trip in trips %}
            <div class="col-sm-12 col-lg-6 col-xl-4">
                <a href="{{ path('trip_detail', {id: trip.id}) }}">
                    <article class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ trip.name }}</h5>
                            {#<div class="badge badge-info">{{ trip.state.wording }}</div>#}
                            <div>{{ trip.info }}</div>
                        </div>
                    </article>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}Sorties{% endblock %}