{% extends 'base.html.twig' %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
   {#
    <form name="formSearch" method="post" action="">
        <p>
            <input type="checkbox" name="" id="searchMyTrip"> Mes sorties
        </p>
    </form>#}
    <div class="row sortiesClass">
        {# boucle sur le tableau contenant les trips #}
        {% for trip in trips %}
            <div class=" col-md-3 col-sm-12 containerClass">

                    <article class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ trip.name }}</h5>
                            {#<div class="badge badge-info">{{ trip.state.wording }}</div>#}
                            <p><span> Informations : </span>{{ trip.info }}</p>
                            <p><span> Durée : </span>{{ trip.duration }} minutes</p>
                            <p><span> Nombre maximun d'inscription : </span>{{ trip.registrationMax }}</p>
                        </div>
                        <a href="{{ path('trip_detail', {id: trip.id}) }}" class="BoutonDetail">Detail
                        </a>
                    </article>

            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block title %}Sorties{% endblock %}