<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="UTF-8">
    <title>Sorties.com | {% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('style/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark " id="navbar">
        <a class="navbar-brand" href="{{ path('trip_list') }}"><h1>Sortie ENI</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" href="{{ path('trip_add') }}">Créer une sortie</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li>
                        <a class="nav-link" href="{{ path('administration_ajouter_utilisateur') }}">Ajouter un
                            utilisateur</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    <li>
                        <a class="nav-link" href="{{ path('profile') }}">Mon profil</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
