{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="adminpage">
        <thead>
            <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Site</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="tableauAdmmiPage">
                    <th>{{ user.name }}</th>
                    <th>{{ user.firstname }}</th>
                    <th>{{ user.email }}</th>
                    <th>{{ user.phone }}</th>
                    <th>{{ user.site.name }}</th>
                    <th>
                        <a href="{{ path('administration_block_user', {'id': user.id }) }}">
                            {% if user.actif %}
                                Bloquer
                            {% else %}
                                Débloquer
                            {% endif %}
                        </a>
                        |
                        <a href="{{ path('administration_remove_user', {'id': user.id }) }}">Supprimer</a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
